<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title><%= config.title %></title>
  <%- css('static/css/index.css') %>
</head>

<body>
  <div id="user-info">
    <div class="background">
        <%- image_tag('static/imgs/bgc.png') %>
      </div>
    <div class="avatar">
      <%- image_tag('static/imgs/user.png') %>
    </div>
    <div class="author-info">
      <div class="name"><%= config.author %></div>
      <div class="follow-meta">
        <span>文章数: <%= site.posts.length %></span>
      </div>
    </div>
    <div class="intro">
      <%= config.author_intro %>
    </div>
    <%# console.log(site) %>

  </div>
  <hr />


  <div class="flow-list-container">
    <% page.posts.each(function (post) { %>
    
    <ul class="flow-list-ul">
      <li class="note-flow">
        <a class="content" href="<%- url_for(post.path) %>">
          <div class="summary">
            <h6 class="title"><%= post.title %></h6>
            <div class="abstract">
              <%- post.excerpt %>
            </div>
            <div class="meta">
              <span><%= post.order %></span>

              <% post.tags.data.forEach(function (tag) { %>
              <span><%- tag.name %></span>
              <% }) %>

              <span class="time"><%- date(post.date, "MM-DD") %></span>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <% }) %>
  </div>

</body>

</html>