<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title><%= page.title %> | <%= config.title %></title>
    <meta name="description" content="<%- config.description %>"">
    <meta name="author" content="<%- config.author %>">
    <%- favicon_tag('static/imgs/favicon.ico') %>

    <%- css('static/css/post.css') %>
    <%- css('static/js/prism/prism.css') %>
    
</head>

<body>

    <div id="book-nav">
        <button class="open-chapter">
            目录
        </button>
        <a class="book-info" href="../../index.html">
            <span class="nameoneline">化学小子的前端实验册</span>
        </a>
    </div>
    <article class="post">
        <div class="post-title">
            <h2 class="title"><%= page.title %></h2>
        </div>
        <div class="article-info">
            <div class="meta">

                <% page.tags.data.forEach(function (tag) { %>
                <span class="tags"><%- tag.name %></span>
                <% }) %>

                <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
            </div>
        </div>
        <div class="note-content">
            <%- page.content %>
            <p>> 这里是 <%= config.author %> 连载 [化学小子的前端实验册] 的第 <%= page.order %> 篇，欢迎关注。</p>
            <p>> 每天一遍提醒自己增强自身抵抗力，多喝热水，注意身体。</p>
        </div>
    </article>
    <!-- 我是章节目录遮罩  -->
    <div id="backdrop"></div>

    <div id="book-chapters">
        <div class="book-chapters-header">
            <span class="title">目录(共<%- site.posts.length %>篇)</span>
            <button class="reset">切换顺序</button>
        </div>
        <ul>
            <% site.posts.data.forEach( function(post){ %>
            <li style="order: '<%- post.order %>;'"><a
                    href="<%- url_for(post.path) %>"><%- post.order %>---<%- post.title %></a></li>
            <% }) %>
        </ul>
        <div class="book-chapters-drawer-footer">
            <a href="../../index.html">前往作品主页</a>
        </div>


    </div>
    <!-- 111 -->
    <%- js('static/js/index.js') %>
    <%- js('static/js/prism/prism.js') %>

</body>

</html>